/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  scroll-behavior: smooth;
}

/* Header styling */
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navbar a:hover {
  color: #ff9900;
}

.login-button {
  background-color: #ff9900;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.login-button:hover {
  background-color: #cc7a00;
}

/* Section styling */
.landing-page {
  position: relative;
  overflow: hidden;
  color: white;
  flex-direction: column;
  min-height: 100vh;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  transition: .15s;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .6;
}

.header2, .section, .footer {
  position: relative;
  z-index: 1; 
}

.fancy-font {
  font-family: 'Pacifico', cursive;
  font-size: 2em; 
  color: #bb7e4f; 
}
.section {
  padding: 4rem 2rem;
  text-align: center;
}

.home {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: transparent;
}

.home-content {
  max-width: 600px;
}

.cta-button {
  background-color: #ff9900;
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1rem;
}

.cta-button:hover {
  background-color: #cc7a00;
}

.about, .demo, .contact {
  background: transparent;
  margin-bottom: 1rem;
}

.about img, .demo img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 1rem;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #bdbbbb;
  padding: 15px;
  border-radius: 5px;
}

.contact-form div {
  margin-bottom: 1rem;
}

.contact-form label {
  display: block;
  margin-right: -10px;
  text-align: left;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: transparent;
}

.contact-form button {
  background-color: #ff9900;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

.contact-form button:hover {
  background-color: #cc7a00;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* App styles */
.main-content {
  margin-left: 250px;
  padding: 20px;
  min-height: 100vh;
}

.container {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #b8a2ae;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  font-size: 18px;
  display: block;
}

.sidebar a:hover {
  background-color: #e6a3a3;
  border-radius: 4px;
}

/* Login page styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.container {
  padding: 0;
}

.navbar {
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 56px);
  padding: 20px;
}

.feature-box {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}

.feature-box h1 {
  margin-bottom: 20px;
  color: #007bff;
}

.feature-box p {
  margin-bottom: 20px;
}

.btn {
  margin: 5px;
}

img.img-fluid {
  border-radius: 8px;
}

#not_loggedin {
  display: flex;
  align-items: center;
}

#not_loggedin .col-md-6:first-child {
  text-align: center;
}

#not_loggedin .col-md-6 img {
  max-width: 100%;
  height: auto;
}

#loggedin {
  display: flex;
  align-items: center;
}

#loggedin .col-md-6:first-child {
  text-align: center;
}

#loggedin .col-md-6 img {
  max-width: 100%;
  height: auto;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
}

/* Wallet component styles */
.wallet-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.balance-card {
  background-color: #f8f9fa;
}

.deposit-card, .withdraw-card {
  background-color: #ffffff;
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

/* Case report */
.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.header1 {
  position: absolute;
  background-color: #333131;
  height: 40px;
  padding: 5px;
  top: -15px;
  right: -26px;
  font-size: 16px;
  color: #d6ae7e;

}

.form-container h2 {
  text-align: center;
  color: #333;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="date"],
.form-container textarea,
.form-container input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container textarea {
  height: 100px;
  resize: vertical;
}

.form-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ebb7a2;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:hover {
  background-color: #f3789d;
}

.form-container .file-upload {
  display: flex;
  align-items: center;
}

.form-container .file-upload input[type="file"] {
  margin-left: 10px;
}

/* Home */
.homey {
  color: #a87474;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px; 
}

.home-content {
  text-align: center;
  max-width: 800px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.cardy {
  background: rgba(228, 212, 212, 0.7);
  border-radius: 8px;
  color: rgb(241, 131, 131);
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.card h2 {
  margin-top: 0;
}

.card-link {
  display: inline-block;
  margin-top: 10px;
  color: #7e0a0a;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background 0.3s, color 0.3s;
}

.card-link:hover {
  background: #da9696;
  color: #333;
}

/* CommunityHub styles */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.create-post-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.create-post-btn:hover {
  background-color: #0056b3;
}

.create-post-section {
  margin-bottom: 20px;
}

.create-post-section form {
  display: flex;
  flex-direction: column;
}

.create-post-section div {
  margin-bottom: 10px;
}

.create-post-section label {
  margin-bottom: 5px;
  font-weight: bold;
}

.create-post-section textarea,
.create-post-section input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.create-post-section .media-section {
  position: relative;
}

.create-post-section .media-section button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  line-height: 1;
}

.create-post-section .media-section button:hover {
  background-color: #218838;
}

.posts-section {
  margin-top: 20px;
}

.post {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.post .media {
  margin-top: 10px;
}

.post video,
.post img {
  max-width: 100%;
  height: auto;
}

.error {
  color: red;
  font-size: 14px;
}

.message {
  color: green;
  font-size: 14px;
}

/* Dark mode */
body.light-mode {
  background-color: #ffffff;
  color: #000000;
}

body.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
/*userdash*/

/* Responsive styles */
@media (max-width: 1200px) {
  .main-content {
    margin-left: 200px;
  }

  .sidebar {
    width: 200px;
  }
}

@media (max-width: 992px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    margin-top: 10px;
    justify-content: flex-start;
  }

  .navbar ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar li {
    margin: 5px 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-content {
    margin-left: 0;
  }

  .login-button {
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
  }

  .navbar {
    justify-content: center;
  }

  .home-content {
    padding: 1rem;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .cardy {
    width: 100%;
    max-width: 300px;
  }

  .contact-form, .form-container, .feature-box {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .header {
    font-size: 14px;
  }

  .navbar a {
    font-size: 14px;
  }

  .cta-button, .login-button, .contact-form button {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .contact-form input, .contact-form textarea,
  .form-container input, .form-container textarea {
    font-size: 0.875rem;
  }
}

/* Sidebar and main-content styles */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.main-content {
  margin-left: 250px; /* Adjust based on sidebar width */
  padding: 20px;
  min-height: 100vh;
  background-color: #f4f4f4;
  transition: margin-left 0.3s ease;
}

/* Mobile Styles */
@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    transform: translateX(-100%); /* Initially hide the sidebar */
  }

  .main-content {
    margin-left: 0; /* Remove the margin on mobile */
  }

  /* Show sidebar on small screens when menu button is clicked (if applicable) */
  .sidebar.open {
    transform: translateX(0); /* Show the sidebar */
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
  .sidebar {
    width: 200px; /* Slightly narrower sidebar on tablet */
  }

  .main-content {
    margin-left: 200px; /* Adjust based on sidebar width */
  }
}

/* Laptop Styles (default) */
@media (min-width: 1025px) {
  /* No additional styles needed, default layout applies */
}

/* Campaigns. */
.campaign-card {
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  background: transparent;
}

.campaign-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Positioning the create campaign button */
.create-campaign-container {
  position: fixed; 
  top: -9px; 
  right: 59px; 
  z-index: 1000; 

}


.create-campaign-button {
  width: 80px;
  height: 80px;
  top: 10px;
  font-size: 36px;
  border-radius: 50%;
  background-color: #28a745;
  color: #fff;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-campaign-button:hover {
  background-color: #218838;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Responsive Styles */

/* Mobile styles */
@media (max-width: 576px) {
  .create-campaign-button {
    width: 60px;
    height: 60px;
    font-size: 28px;
  }
}

/* Tablet styles */
@media (min-width: 577px) and (max-width: 768px) {
  .create-campaign-button {
    width: 70px;
    height: 70px;
    font-size: 32px;
  }
}

/* Laptop styles */
@media (min-width: 769px) {
  .create-campaign-button {
    width: 80px;
    height: 80px;
    font-size: 36px;
  }
}
